language: java
jdk: oraclejdk8
sudo: false
addons:
  apt:
    packages:
    - jq
env:
  global:
  - SPEC_FILE: https://www.thebluealliance.com/swagger/api_v3.json
  - USER_NAME: tweirtx
  - GITHUB_ORG: TBA-API
  - SCG_VERSION: 2.3.1
  - GIT_TOKEN: secure: "BoQfMNhUuERD5YCD6qM/HLmmZOOKMJG2d6wxox4HsQIHbOgB/o5b32NqtGBZ2JdyaqXTEtaahVJ70BD38xFl4eDU/aN0RHXNKL+r3145qJ8mnNiD9f4nFXKgRyxwvetZq1Td6Yt+VS+WKpGLn3/wvo06+1HS9lugk3ye+mi3h3SZ5WNnj24Qjoz3E8M3Q6FOXrObYZrQ/z3R6eM+1pFUkjCs+m24DK7UbA5s+t3tgYefpNNK5vRD92HwLiKPZcexgh+veSsvyd8iNReDttChudZIflUBMNZtpyQXcacwkmnE8kSulA1oZS1eDEIflpKRrTuaQVC7SCqgHoDCv4wKk/wiu2drgLCXBBJaxHrJTU3R1GVJ8B8Zy4tbtQSIXwD5cf4zysCj4XYXk6/TGR7c4f69Y4dfZkgBKJ+3Hecp8wW+fSJhn7CgDEg//6Oj7JG8gxy7YT8ETrKjZCaOc9cdxfucJRhIGQ6IWq6jgoMrEQlgq+WQLKLyEQN9rrA4JYsR8rP0DCKOvKWk/Rx8YgViSjszmNSiJ7vLpKQGF2A47AWQ20oWfWoFlo5Ww+pADhHvKlTQGUiDNexxqJZDsbPeeEKZvesdt/2fGL3tOqobu/JsRJFXvh7XeJh5TU4OFY6TZdarPke8u7dbQBuME/jNJFbJe3g65az3WExMX+Hr33k="
  matrix:
  - OUTLANG=java
  - OUTLANG=kotlin
  - OUTLANG=php
  - OUTLANG=python
  - OUTLANG=javascript
  - OUTLANG=csharp
  - OUTLANG=swift
  - OUTLANG=ruby
  - OUTLANG=go
install:
- travis_retry wget http://central.maven.org/maven2/io/swagger/swagger-codegen-cli/$SCG_VERSION/swagger-codegen-cli-$SCG_VERSION.jar
  -O swagger-codegen-cli.jar
- export APIVERSION=`curl -s $SPEC_FILE | jq -r '.info.version'`
before_script:
- export REPO_NAME="tba-api-client-$OUTLANG"
- git clone https://$USER_NAME:$GIT_TOKEN@github.com/$GITHUB_ORG/$REPO_NAME.git
script:
- java -jar swagger-codegen-cli.jar config-help -l $OUTLANG
- "./codegen.sh"
after_success:
- cd $REPO_NAME
- ../git_push.sh $USER_NAME $REPO_NAME "Updating to API version $APIVERSION" "v$APIVERSION"
- cd ..
after_failure:
- cat test_failures.temp
